<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Formulário de Registro</title>
</head>
<body>
    <div class="container">
       
        <form class="form" method="post">
            <h1>LOGIN</h1>
           
            <input type="email" id="email" name="email" placeholder="E-mail" required>
            <input type="password" id="password" name="password" placeholder="password" required>
            
            <button type="submit">ENTER</button>
            <a href="./registro.html"> cadastre-se</a>
        </form>
    </div>
</body>
</html>
